*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Header and navigation section */
.main{
    background-image: url('https://images.unsplash.com/photo-1509653087866-91f6c2ab59f2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1232&q=80');
}
header{
    background-color: #fae1dd;    
    padding-bottom: 6px;

}
header h1{
    padding: 40px 0 5px 30px;
    color: rgb(90, 17, 27);
}
.nav ul{
    text-align: right;
    margin-right: 30px;
}
.nav li{
    display: inline;
    border: solid 1px rgb(90, 17, 27);
    margin:  5px;
}
.nav a{
    color: rgb(90, 17, 27);
    text-decoration: none;
    padding: 0 20px;
}
.nav a:hover{
    background-color: rgb(224, 156, 156);
    font-weight: bold;
}
/* About me section */
.about{
    height: 80vh;
    background-color: #d8e2dc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 300px;
}
.about-text{
    text-align: center;
    padding-right: 100px;
}
.about-text h2{
    margin-bottom: 10px;
    color: rgb(90, 17, 27);
}

.empty{
    width: 180px;
    height:280px;
    border: solid 8px rgb(224, 156, 156);
    z-index: -1;
    transform: rotate(20deg);
}
.selfie{
    width: 165px;
    height: 250px;
    border: solid 4px #94d2bd;
    z-index: 1;
    position: absolute;
    top: 40%;
}
/* Education section */
.education{
    height: 70vh;
    background-color: #fae1dd;
    color:  rgb(90, 17, 27);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 150px;
}
.education h2{
    margin-bottom: 10px;
}
.educationimg{
    width: 400px;
    margin: 0 150px;
}
.education li{
    padding: 5px 0;
}
/* Work experience section */
.work{
    height: 80vh;
    background-color: #d8e2dc;
    text-align: center;
    padding: 80px 0;
    color:  rgb(90, 17, 27);
}
.cards{
    color:  rgb(90, 17, 27);
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-auto-rows: auto;
    grid-gap: 3rem; 
    padding: 20px 80px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
    margin: 30px 0;
}
.card-img {
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
}
/* Contact me section */
.contacts{
    color:  rgb(90, 17, 27);
    height: 40vh;
    width: 30vw;
    margin: auto;
    text-align: center;
   padding: 80px;
}
.contacts p{
    border: solid 0.6px rgb(90, 17, 27);
    border-radius: 10px;
    margin-top: 20px ;
    padding: 10px 0;
}
/* Stratergy section */
.learning{
    height: 60vh;
    background-color: #fae1dd;
    color:  rgb(90, 17, 27);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 150px;
}
.learning h2{
    margin-bottom: 10px;
}
.learning-img{
    width: 200px;
    margin: 0 150px;
}
.learning li{
    padding: 5px 0;
}
/* HYF */
.hyf{
    height: 60vh;
    background-color: #d8e2dc;
    color:  rgb(90, 17, 27);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 150px;
}
.hyf h2{
    margin-bottom: 10px;
}
.hyf-img{
    width: 200px;
    margin: 0 150px;
}
.hyf li{
    padding: 5px 0;
}