/* PAGE STYLING */

body {
  align-items: center;
  background-color: lightgreen;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 99vw;
}

.animation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
}

.animation {
  height: 450px;
  width: 450px;
  display: flex;
  position: relative;
  animation-name: car;
  animation-duration: 3s;
  animation-iteration-count: 3;
  fill: rgb(163, 75, 235);
}


/* ANIMATION STYLING: */

@keyframes car{
  0%{left:0px}
  20%{left:200px; fill:rgb(40, 43, 196)}
  100%{left:1800px; fill:yellow}
}
