* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1{
  text-align: center;
  padding: 10px 0;
  color: rgb(255, 152, 35); 
}
h2{
  margin:10px 0 10px 30px;
  font-style: italic;
  font-weight: bold;
  color: white;
  background-color: rgb(255, 152, 35);
  width: 200px;
  text-align: center;
}
.grid-item {
  height: 30vh;
  border: 1px solid red;
  padding: 5px;
  text-align: center;
  opacity: 0.5;
}
.grid-item::after {
  content: "";
  clear: both;
  display: table;
}
.grid-item:hover {
  opacity: 1;
  border: 2px solid rgb(255, 152, 35);
}
/*Grid with floats*/
main:first-child {
  width: 50%;
}
#grid-floats,
#grid-flex {
  padding: 20px;
  list-style-type: none;
}
#grid-floats{
  width: 100%;
  align-items: center;
}
section:last-child {
  clear: left;
}
#grid-floats .grid-item {
  float: left;
  width: 25%;
  overflow: auto;
  margin: 5px;
}
/* Mobile */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  img {
    max-width: 40%;
    max-height: 40%;
  }
  #grid-floats .grid-item {
    width: 48%;
  }
  
  #grid-floats .grid-item:nth-child(1) {
    width: 97.5%;
  }
}
/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  img {
    max-width: 40%;
    max-height: 40%;
  }
  #grid-floats .grid-item {
    width: 32%;
  }
  #grid-floats .grid-item:nth-child(1) {
    width: 48.5%;
  }
  #grid-floats .grid-item:nth-child(2) {
    width: 48.5%;
  }
}
/* Desktop */
@media only screen and (min-width: 992px) {
  img {
    max-width: 40%;
    max-height: 40%;
  }
  #grid-floats{
    margin-bottom: 40px;
  }
  #grid-floats .grid-item {
    width: 23%;
  }
  #grid-floats .grid-item:nth-child(1) {
    width: 47%;
  }
  #grid-floats .grid-item:nth-child(2) {
    width: 23%;
  }
}
/* Grid with flex */
/* Mobile */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  #grid-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;
  }
  #grid-flex .grid-item {
    flex: 40%;
    overflow-y: auto;
  }
  #grid-flex .grid-item:nth-child(1) {
    flex: 60%;
  }
}
/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #grid-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;
  }
  #grid-flex .grid-item {
    flex: 29%;
    overflow-y: auto;
  }
  #grid-flex .grid-item:nth-child(1) {
    flex: 40%;
  }
  #grid-flex .grid-item:nth-child(2) {
    flex: 40%;
  }
}
/* Desktop */
@media only screen and (min-width: 992px) {
  #grid-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;
    
  }
  #grid-flex .grid-item {
    flex: 20%;
    overflow-y: auto;
  }
  #grid-flex .grid-item:nth-child(1) {
    flex: 45%;
  }
  #grid-flex .grid-item:nth-child(2) {
    flex: 20%;
  }
}
